.sidebar {
  position: fixed;
  width: 318px;
  height: 500px;
  margin: 48px 1022px 0 100px;
  background-color: #ffffff;
  border-radius: 2px;

  display: flex;
  flex-direction: column;
}

.header {
  position: relative;
  left: 24px;
  top: 24px;
  margin-top: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;

  color: #000000;
}

.itemBox {
  position: absolute;
  width: 318px;
  height: 442px;
  top: 58px;
  left: 0;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
