.sidebar {
  position: relative;
  width: 318px;
  height: 500px;
  left: 100px;
  top: 48px;

  background-color: #ffffff;
  border-radius: 2px;
}

.header {
  position: absolute;
  left: 24px;
  top: 25px;

  font-style: bold;
  font-weight: 475;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: -0.09px;

  margin: 0 auto;
  color: #000000;
}

.itemBox {
  position: relative;
  width: 318px;
  height: 442px;
  top: 58px;
  left: 0;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
